{% trans_default_domain 'admin' %}

<!--
         data-nonorderablecols parameter allows to you decide which columns should be non-orderable.
         Set number of column/columns (counting starts from 0, where 0 means 1st column)
         Can be empty

-->

<table class="table table-responsive table-bordered data-table"
       data-nonorderablecols="[2,3]">
    <thead>
    <tr>
        <th>ID</th>
        <th>Children pages</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>